<md-content class="md-padding" flex md-scroll-y layout-fill >
  <md-card>
    <md-card-content>
      <div layout="row" layout-align="center center" layout-margin>
        <div flex="70" layout="column" class="md-padding">
          <h1>Hello <span ng-bind="usuario.nome"></span>!</h1>
          <md-input-container class="md-headline" flex>
            <label>Nome:</label>
            <input type="text" ng-model="usuario.nome" placeholder="Enter a name here">
          </md-input-container>
        </div>
      </div>

      <div layout="column">
        <md-card ng-repeat='todo in vm.itens' flex>
          <md-card-content>
          <div>
            <p><b>Titulo:</b> {{todo.titulo}}</p>
            <p><b>Palestrante:</b> {{todo.palestrante}}</p>
            <p><b>Descrição:</b> {{todo.descricao}}</p>
            <p ng-if="todo.hobbies"><b>Hobbies:</b> {{todo.hobbies}}</p>
          </div>
          </md-card-content>
        </md-card>
        <md-card ng-show="vm.message">
          <md-card-content>
            <h3>{{vm.message}}</h3>
          </md-card-content>
        </md-card>
      </div>
    </md-card-content>
  </md-card>
</md-content>
