<md-toolbar class="md-hue-2 md-whiteframe-z2 " layout-align="start center" >
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.openLeftMenu()">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h2>
      <span>Dashboard</span>
    </h2>
    <span flex></span>
    <md-button ng-click="vm.sair()" class="md-raised md-accent">Sair</md-button>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon class="material-icons">more_vert</md-icon>
    </md-button>
  </div>
</md-toolbar>